{% extends '../student/base.html' %}
{% load widget_tweaks %}

 
{% block content %}
<div id="intro">
  <div class="d-flex align-items-center h-100">
    <div class="container">
      <h1 class="text-center mb-5">パスワードの再設定</h1>
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
          <form method="post" class="bg-white rounded shadow-5-strong p-5">
            {% csrf_token %}
            <div class="form-outline mb-4">
              {{ form.old_password|add_class:'form-control' }}
              <label class="form-label" for="{{ form.old_password.id_for_label }}">元のパスワード</label>
            </div>
            {% for error in form.old_password.errors %}
            <p class="note note-light">
              <strong>{{ error }}</strong>
            </p>
            {% endfor %}
            <div class="form-outline mb-4">
              {{ form.new_password1|add_class:'form-control' }}
              <label class="form-label" for="{{ form.new_password1.id_for_label }}">新しいパスワード</label>
            </div>
            {% for error in form.new_password1.errors %}
            <p class="note note-light">
              <strong>{{ error }}</strong>
            </p>
            {% endfor %}
            <div class="form-outline mb-4">
              {{ form.new_password2|add_class:'form-control' }}
              <label class="form-label" for="{{ form.new_password2.id_for_label }}">新しいパスワード(確認用)</label>
            </div>
            {% for error in form.new_password2.errors %}
            <p class="note note-light">
              <strong>{{ error }}</strong>
            </p>
            {% endfor %}
            {% comment %} {{ form.as_p }} {% endcomment %}

            <button type="submit" class="btn btn-outline-primary btn-rounded btn-block btn-lg">パスワードを変更</button>

          </form>
        </div>
      </div>
      </div>
  </div>
</div>

{% endblock %}
